p:first-child:first-letter {
  color: #CF4332; 
  font-family: Georgia;
  initial-letter: 2;
  font-size: 6em;
  text-shadow: .03em .02em black;
}
body {
  background-color: #FFD97A; 
  font-size: 1.5em;
  padding-top: 300px;
  text-color: black;
  text-shadow: .1em .1em thistle;
  margin-top: 15px;
  margin-bottom: 240px;
  margin-right: 240px;
  margin-left: 200px;
}

img {
  
  border-radius: 50%;
  padding: 10px;
  
  }
.pic1 {
  position: absolute;
  left: 100px;
  top: 25px;
   box-shadow: 10px 10px black;
}
.pic2 {
  position: absolute;
  right: 70px;
  top: 225px;
  box-shadow: 14px 14px black;
  transform: rotate(-12deg);
}

.pic3 {
  position: absolute;
  right: 1110px;
  top: 500px;
  box-shadow: 12px 12px black;
}
.pic4 {
  border-radius: 1px;
  position: absolute;
  right: 500px;
  top: 3px;
}

.pic5 {
  position: absolute;
  right: 155px;
  top: 1200px;
  box-shadow: 9px 9px black;
  transform: rotate(14deg);
}
.pic6 {
  position: absolute;
  right: 150px;
  top: 840px;
  box-shadow: 13px 13px black;
  transform: rotate(-10deg);
}

.pic7 {
  position: absolute;
  right: 1100px;
  top: 225px;
  box-shadow: 12px 12px black;
  transform: rotate(8deg);
}

.pic8 {
  position: absolute;
  right: 280px;
  top: 76px;
  transform: rotate(8deg);
  box-shadow: 10px 10px black;
}

.pic9 {
  position: absolute;
  right: 980px;
  top: 790px;
  box-shadow: 14px 14px black;
  transform: rotate(15deg);
}

.pic10 {
  position: absolute;
  right: 905px;
  top: 1102px;
  box-shadow: 18px 18px black;
  transform: rotate(-7deg);
}

.pic11 {
  position: absolute;
  right: 65px;
  top: 556px;
  box-shadow: 10px 10px black;
  transform: rotate(10deg);
}
img {
  animation-duration: 3.5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 3020%;
    width: 320%; 
  }

  to {
    margin-left: 10%;
    width: 20%;
  }
}

.example1 {
 height: 60px;	
 overflow: hidden;
 position: relative;
}

h3 {
 font-size: 3.5em;
 color: purple;
 position: absolute;
 width: 150%;
 height: 100%;
 margin: 0;
  top: 390px;
  
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform: translateX(100%);
  /* Apply animation to this element */	
 -moz-animation: example1 6s linear;
 -webkit-animation: example1 6s linear;
 animation: example1 6s linear;
}
/* Move it (define the animation) */
@-moz-keyframes example1 {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes example1 {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes example1 {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%); 
 }
}
h4 {
  transition-delay: 20s;
  font-size: 3em;
  color: #644B85;
  font-size: 1.5em;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  top: 440px;
  text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 -moz-animation: example1 15s linear;
 -webkit-animation: example1 15s linear;
 animation: example1 15s linear;
}
a:link {
  text-decoration: none;
  text-shadow: .1em .1em #FE0000;
}
h6 {
  color: red;
  font-size: 1.0em;
  text-align: center;
  text-shadow: .1em .1em white;
}
h7 {
  color: black;
  font-size: 1.1em;
  text-align: center;
}
.footer {
  background-image: linear-gradient(to   right, azure, orange, orange, black);
  border: 1px black solid;
  border-radius: 20px; 
  font-size: 25px;
  height: 120px;
  text-align: center;
  text-shadow: 1.3px 1.3px lightgrey;
  transform: rotate(4deg);
  width: 950px;
  color: white;
  position: relative;
}