body {
  background-attachment: fixed;
  background-image: url("https://i.postimg.cc/RCWt3dTC/futuristic-city-architecture-night-lights-2-K-wallpaper.jpg"); 
  background-position: 90%;
  background-repeat: no-repeat;
  background-size: cover;
} 

h1 {
  box-shadow: 10px 40px 50px black, -10px -30px 40px black;
  color: yellow;
  font: 6.1rem "Baskerville", "Arial"; 
  padding: 5px;
  text-align: center;
  text-shadow: .225rem .225rem   .0625rem black;
}

h2, h3 {
  color: hotpink;
  font-size: 5rem;
  position: absolute;
  text-shadow: .225rem .225rem .0925rem black;
}

h2 {
  left: 110px;
  top: 200px;
}

h3 {
  right: 170px;
  top: 187px;
}

ul {
  background: rgba(0,0,0,0.1);
  border-color: lightgrey grey;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0rem 1rem 4rem 1rem black;
  box-sizing: border-box;
  margin: 100px auto 0; 
  overflow: hidden;
  padding: 5px;
  width: 450px;
}

ul li {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: magenta red green #8900ff;
  border-radius: 10px 8px;
  border-style: solid;
  border-width: 1px;
  box-shadow: .1rem .1rem 1rem .1rem black;
  margin: 6.4px;
  padding: 20px;
  transition: 0.5s;
}

 li:nth-child(1), li:nth-child(13), li:nth-child(18) {
  background: rgba(155, 155, 155, .0); 
}

li:nth-child(2), li:nth-child(4), li:nth-child(6), li:nth-child(8), 
li:nth-child(11), li:nth-child(15), li:nth-child(17), li:nth-child(23) {
  background: rgba(255, 255, 255, .1); 
}

li:nth-child(3), li:nth-child(5), li:nth-child(9), li:nth-child(12), 
li:nth-child(19), li:nth-child(21), {
  background: rgba(255, 255, 255, .2); 
}

li:nth-child(7), li:nth-child(14), li:nth-child(16), li:nth-child(20) {
  background: rgba(155, 155, 155, .3); 
}

li:nth-child(10), li:nth-child(22) {
  background: rgba(155, 155, 355, .4);
}

.button1, .button2 {
  color: pink;
  font: 3.2rem "Georgia", "sans-serif";
  text-decoration: none;
  text-shadow: .2rem .2rem .1rem black;
}

column1 {
  left: -50px;
  padding-bottom: 80px;
  position: absolute;
  top: 270px;
}

column2 {
  padding-bottom: 50px;
  position: absolute;
  right: 100px;
  top: 270px;
}

.trail { 
  border-radius: 150px;
  border-style: ridge;
  box-shadow: 1px 1px 25px 1px yellow;
  height: 23px;
  position: absolute;
  width: 23px;
}
