:root {
  --font-stack: 'Roboto', 'Helvetica', sans-serif;
  --light: #F3F3F3;
  --primary: #FFCE00;
  --secondary: #171717;
}

body {
  background-color: var(--secondary);
  font-family: var(--font-stack);
  margin: 0;
  padding: 0;
}

.page {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 15px;
  position: relative;
  width: 100vw;
}

.content {
  max-width: 768px; 
  width: 100%;
}

h1 {
  color: var(--primary);
  font-size: 42px;
  font-weight: 900;
  text-align: center;
}

h1 span {
  color: var(--light);
  font-weight: 300;  
}

p {
  color: lightgrey;
  font-size: 2em;
  text-align: center;
  text-shadow: 2px 2px blue;
}

.menu-wrapper {
  box-sizing: border-box;
  height: 50px;
  left: 15px;
  position: fixed;
  top: 15px;
  width: 50px;
}

.menu-wrapper .toggle {
  bottom: 0;
  cursor: pointer;
  height: 50px;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  z-index: 999;
}

.menu-wrapper .hamburger {
  align-items: center;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  height: 50px;
  justify-content: center;
  left: 0;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.3s ease;
  width: 50px;
  z-index: 998;
}

.menu-wrapper .hamburger .bar {
  background: var(--light);
  height: 3px;
  position: relative;
  transition: all 0.2s linear;
  width: 100%;
  z-index: 5;
}

.menu-wrapper .hamburger .bar::before,
.menu-wrapper .hamburger .bar::after {
  background: var(--light);
  content: '';
  height: 3px;
  position: absolute;
  top: -10px;
  transition: all 0.2s linear;
  width: 100%;
}

.menu-wrapper .hamburger .bar::after {
  top: 10px;
}

.menu-wrapper .toggle:hover + .hamburger {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transform: rotate(-25deg);
}

.menu-wrapper .toggle:checked + .hamburger {
  transform: rotate(45deg);
}

.menu-wrapper .toggle:checked:hover +.hamburger {
  transform: rotate(135deg);
}

.menu-wrapper .toggle:checked + .hamburger .bar::before, 
.menu-wrapper .toggle:checked + .hamburger .bar::after {
  top: 0;
  transform: rotate(90deg);
}

.menu {
  align-content: center;
  background: rgba(25, 25, 25, 0.85);
  display: flex;
  height: 0;
  justify-content: center;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: all 0.3s ease;
  width: 0;
  z-index: 1;
}

.menu ul li {
  border-bottom: 2px solid transparent;
  box-sizing: 15px;
  color: var(--light);
  cursor: pointer;
  font-size: 20px;
  list-style-type: none;
  margin: 0;
  text-align: center;
}

.menu ul li:hover {
  border-bottom: 2px solid var(--primary);
  color: var(--primary);
}

.menu-wrapper .toggle:checked + .hamburger + .menu {
  height: 100vh;
  opacity: 1;
  width: 100vw;
}
